<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="spmu" transaction-type="RESOURCE_LOCAL">

        <class>com.company.spmu.entity.Account</class>
        <class>com.company.spmu.entity.Affilate</class>
        <class>com.company.spmu.entity.Currency</class>
        <class>com.company.spmu.entity.CurrencyRate</class>
        <class>com.company.spmu.entity.EventType</class>
        <class>com.company.spmu.entity.Finsource</class>
        <class>com.company.spmu.entity.FlyghtType</class>
        <class>com.company.spmu.entity.Location</class>
        <class>com.company.spmu.entity.Measure</class>
        <class>com.company.spmu.entity.Organization</class>
        <class>com.company.spmu.entity.PlanArticle</class>
        <class>com.company.spmu.entity.Target</class>
        <class>com.company.spmu.entity.Workflow</class>
        <class>com.company.spmu.entity.Coefficient</class>
        <class>com.company.spmu.entity.CoefficientValue</class>
        <class>com.company.spmu.entity.Mandate</class>
        <class>com.company.spmu.entity.Employee</class>
        <class>com.company.spmu.entity.Division</class>
        <class>com.company.spmu.entity.Ano</class>
        <class>com.company.spmu.entity.SpmuUser</class>
        <class>com.company.spmu.entity.Application</class>
        <class>com.company.spmu.entity.PlanType</class>
        <class>com.company.spmu.entity.ApplicationIncome</class>
        <class>com.company.spmu.entity.ApplicationResponsible</class>
        <class>com.company.spmu.entity.ApplicationStage</class>
        <class>com.company.spmu.entity.ApplicationStageType</class>
        <class>com.company.spmu.entity.PlanSection</class>
        <class>com.company.spmu.entity.ApplicationObject</class>
        <class>com.company.spmu.entity.ApplicationObjectType</class>
        <class>com.company.spmu.entity.ApplicationObjectStage</class>
        <class>com.company.spmu.entity.ApplicationStageValue</class>
        <class>com.company.spmu.entity.PlanAccount</class>
        <class>com.company.spmu.entity.Contract</class>
        <class>com.company.spmu.entity.ContractStage</class>
        <class>com.company.spmu.entity.ApplicationStageContract</class>
        <class>com.company.spmu.entity.ApplicationEvent</class>
        <class>com.company.spmu.entity.ApplicationEditor</class>
        <class>com.company.spmu.entity.ApplicationInitiator</class>
        <class>com.company.spmu.entity.Registry</class>
        <class>com.company.spmu.entity.RegistryContentPk</class>
        <class>com.company.spmu.entity.ApplicationStageIncome</class>
        <class>com.company.spmu.entity.ApplicationExpense</class>
        <class>com.company.spmu.entity.ApplicationDetailType</class>
        <class>com.company.spmu.entity.ApplicationDetail</class>
        <class>com.company.spmu.entity.ApplicationCurator</class>
        <class>com.company.spmu.entity.ApplicationManager</class>
        <class>com.company.spmu.entity.ApplicationStageExpense</class>
        <class>com.company.spmu.entity.ApplicationStageEvent</class>
        <class>com.company.spmu.entity.Position</class>
        <class>com.company.spmu.entity.RegistryContent</class>
        <class>com.company.spmu.entity.ApplicationStageFileDescriptor</class>
        <class>com.company.spmu.entity.ApplicationStageResponsible</class>
        <class>com.company.spmu.entity.ApplicationStageManager</class>
        <class>com.company.spmu.entity.ApplicationStageCurator</class>
        <class>com.company.spmu.enumeration.LinkType</class>
        <class>com.company.spmu.entity.MessageLog</class>
        <class>com.company.spmu.entity.ConnectionLog</class>
        <class>com.company.spmu.entity.ApplicationLink</class>
        <class>com.company.spmu.entity.StatusLink</class>
        <class>com.company.spmu.entity.ApplicationFileDescriptor</class>
        <class>com.company.spmu.entity.bpm.ApplicationHistory</class>
        <class>com.company.spmu.entity.FixedAsset</class>
        <class>com.company.spmu.entity.EquipmentObject</class>
        <class>com.company.spmu.entity.Priority</class>
        <class>com.company.spmu.entity.PricingProcedure</class>
        <class>com.company.spmu.entity.HierarchyApplicationIncome</class>
        <class>com.company.spmu.entity.HierarchyApplicationEvent</class>
        <class>com.company.spmu.entity.PlanArticleStage</class>
        <class>com.company.spmu.entity.HierarchyApplicationExpense</class>
        <class>com.company.spmu.entity.PlanVariant</class>
        <class>com.company.spmu.entity.PlanVariantLimit</class>
        <class>com.company.spmu.entity.PlanVariantTemplate</class>
        <class>com.company.spmu.entity.PlanVariantTemplateApplication</class>
        <class>com.company.spmu.entity.PlanVariantFilter</class>
        <class>com.company.spmu.entity.PlanVariantTemplateElement</class>
        <class>com.company.spmu.entity.planVariant.ComputedVariable</class>
        <class>com.company.spmu.entity.planVariant.EnumVariable</class>
        <class>com.company.spmu.entity.planVariant.EntityVariable</class>
        <class>com.company.spmu.entity.planVariant.StaticVariable</class>
        <class>com.company.spmu.entity.planVariant.ComputedVariableLink</class>
    </persistence-unit>
</persistence>
