/* Override global theme constants or define new ones here */

/**
 * Основной цвет фона
 */
$top_header_bgcolor: #214372;
$main_bg_color: #f2f2f2;
$layout_bg_color: #f7f7f7;
$color1: #3368af;
$color2: #4272b2;


$v-background-color: #f7f7f7;

$v-app-background-color: #f7f7f7;

$v-font-color: #000;

$v-focus-color: #fff;

$v-button-font-color: #000;

$v-tooltip-font-color: #fff;
$cuba-login-btn-background: #f7f7f7 none;
